<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Bem-vindo ao PokéDex</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png"
           alt="Imagem do Pikachu"
           style="width: 200px; margin: auto;"></ion-img>

  <h2 class="ion-text-center">Explore o Mundo dos Pokémons!</h2>

  <p class="ion-text-center">
    Conheça os Pokémons, descubra suas habilidades, tipos e muito mais. Nossa PokéDex usa uma API real para mostrar detalhes dos seus monstrinhos favoritos!
  </p>

<ion-content class="ion-padding">
  <ion-button expand="block" (click)="goToDetails()">
    Pokémons
  </ion-button>

  <ion-button expand="block" color="secondary" (click)="openPokeAPI()">
    Abrir PokéAPI
  </ion-button>
</ion-content>
